# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/

# Dependency files
vendor/
.bundle/
Gemfile.lock

# VSCode and system files
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.bak
*.tmp
