<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/articles/restaraunts' | relative_url }}">Restraunts</a></li>
    <li><a href="{{ '/articles/bars' | relative_url }}">Bars</a></li>
    <li><a href="{{ '/articles/cafes' | relative_url }}">Cafes</a></li>
    <li><a href="{{ '/articles/museums' | relative_url }}">Museums</a></li>
    <li><a href="{{ '/articles/parks' | relative_url }}">Parks</a></li>
    <li><a href="{{ '/articles/meals' | relative_url }}">Home Cooked Meals</a></li>
  </ul>
</nav>
